{
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "semi": 2
  },
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  }
}
